/*klasy dotyczące ogłoszeń gdy w nie wejdziesz*/
.notice-detail {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.notice-image {
    object-fit: contain;
    width: 380px;
    margin-right: 10px;
    padding: 0;
}

.notice-image img {
    border-radius: 5px;
}

.notice-info {
    width: 380px;
    margin-left: 10px;
    text-align: left;
}
.titles {
    font-size: small;
    font-weight: lighter;
}

#description {
    text-align: justify;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.detail-button {
    width: 150px;
    height: 48px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.detail-button:hover {
    color: var(--white);
}

.more {
    border: var(--blue) solid 2px;
}

.more:hover {
    background-color: var(--blue);
}

.reveal {
    border: var(--navy) solid 2px;
}

.reveal:hover {
    background-color: var(--navy);
}

a {
    text-decoration: none;
    color: var(--black);
}

#contact {
    display: none;
    text-align: center;
}

.not-signed-in {
    opacity: 0.5;
    cursor: not-allowed;
}