
.header {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.nav-bar {
    height: 58px;
    margin: auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-grey);
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;
}
/* klasa navbar - linki */
.nav-bar a {
    display: block;
    color: var(--grey);
    padding: 19px 0;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    border-bottom: 2px solid var(--white);
}

.nav-bar-l a:hover{
    color: var(--black);
    border-bottom: 2px solid var(--blue);
}

.nav-bar-r a:hover{
    color: var(--black);
    border-bottom: 2px solid var(--red);
}

.logo a {
    margin: 0;
    padding: 0;
}

.nav-bar-l li {
    float: left;
}
.nav-bar-r li {
    float: left;
}

