.search-header {
    position: fixed;
    top: 59px;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 800px;
    width: 100%;
    border-bottom: 1px solid var(--light-grey);
    background-color: var(--white);
    z-index: 1;
}
.search-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.search {
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.search input{
    margin-right: 20px;
}
.select{
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.select label {
    text-align: right;
    font-size: small;
}
.count {
    padding-top: 6px;
    text-align: center;
    font-size: small;
}

