.welcome {
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.table
{
    display:table;
    margin: 0 auto;
}

.table-row
{
    display: table-row;
    width: 100%;
    height: 90px;
    justify-content: center;
}

.table-cell
{
    display: table-cell;
    height: 90px;
    padding: 5px;
    vertical-align: middle;
    border-top: 1px solid var(--light-grey);
}

.table-cell img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.not-active {
    opacity: .50;
}

.cell-add {
    border-top: 0;
}

.cell-title {
    width: 400px;
}

.cell-add, .cell-edit, .cell-delete {
    width: 80px;
    font-size: xx-large;
    text-align: center;
}
.cell-add {
    color: var(--blue);
}

.cell-edit {
    color: var(--navy);
}
.cell-delete{
    color: var(--red);
}
