{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X_UA-Compatible" content="IE=edge">
        <title>the Notice</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'viewer/style.css' %}">
    </head>
    <body>
        <section class="header">
        <div class="nav-bar">
            <div class="logo">
                <a href="{%url 'notices' %}">
                    <img src="{% static 'viewer/images/logo_139x64-164e87.png' %}" alt="the Notice logo">
                </a>
            </div>
            <div class="nav-bar-l">
                <ul>
                    {% if request.path != '/' %}
                    <li><a href="javascript:" onclick="history.go(-1);">&#8592; Back</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li><a href="{%url 'own_notices' %}">My Notices</a></li>
                    <li><a href="{% url 'notice-create' %}">+ Add Notice</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="nav-bar-r">
                <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign in</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
                </ul>
            </div>
        </div>

        </section>
        <section class="container">
            {% block content %}

            {% endblock %}
        </section>
    </body>
</html>