
{% if request.user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a> | <a href="{% url 'own_notices' %}">My Notices</a>
{% else %}
<a href="{% url 'login' %}">Sign in</a>
{% endif %}

 | <a href="{%url 'notices' %}">All Notices

<p><a href="{%url 'notices' %}">&#8592; Back</a></p>

<h1>Notice: {{notice}}</h1>

{% if notice.image %}
    <img src="{{ notice.image.url }}" alt="" width="400">
{% endif %}

<h2>Category: {{ notice.category }}</h2>
<h2>Type: {{ notice.type }}</h2>
<h2>Condition: {{ notice.condition }}</h2>
<h3>Price: {{ notice.price }} $</h3>
<p>{{ notice.description }}</p>

<a href="javascript:" onClick="document.getElementById('contact').style.display='block';">Reveal contact
    information</a>

<div id="contact" style="display:none;">
<h4>{{ notice.user.first_name }} {{ notice.user.last_name }}</h4>
<h5>{{ notice.user.phone_number }}</h5>
<h5>{{ notice.user.postal_code}} {{ notice.user.town_name }}</h5>
</div>


